<div class="row">
<div class="col-sm-4">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="assets/img/photo1.jpg">
  <div class="card-body">
    <h5 class="card-title">Card Title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card Subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
</div>
</div>
</div>
<div class="col-sm-4">
<div class="card" style="width: 18rem;">
  <div class="card-header">Coders</div>
  <ul class="list group list-group-flush">
    <li class="list-group-item">Torocy Ojweke</li>
    <li class="list-group-item">Jamal Guyo</li>
    <li class="list-group-item">Godwin Warinda</li>
  </ul>

</div>
</div>
<div class="col-sm-4">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/img/photo1.jpg">
        <div class="card-body">
          <h5 class="card-title">Card Title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card Subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         
      </div>
      <ul class="list group list-group-flush">
          <li class="list-group-item">Torocy Ojweke</li>
          <li class="list-group-item">Jamal Guyo</li>
          <li class="list-group-item">Godwin Warinda</li>
        </ul>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
</div>
</div>
<!--card header and card footer-->
<div class="card">
  <h5 class="card-header">Encouragement</h5>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
    <p>It doesn't matter who you are. It doesn't matter where you are from. It doesn't matter what they say. It doesn't matter if you fall, somewhere along the way. There's healing for your life today</p>
    <footer class="blockquote-footer">Someone who cares from <cite title="up above">up above</cite></footer>
  </blockquote>
  </div>
</div>

<!--text center-->
<div class="card text-center">
  <div class="card-header">Enjoy Coding</div>
  <div class="card-body">
    <h5 class="card-titel"> JavaScript</h5>
    <p class="card-text">JavaScript is the most powerful programming language.</p>
    <a href="#" class="btn btn-primary">Start today</a>
  </div>
  <div class="card-footer text-muted">2 days ago</div>
</div>
<!--Add navigation pane-->
<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link" href="#">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Disabled</a>
            </li>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-titel"> JavaScript</h5>
      <p class="card-text">JavaScript is the most powerful programming language.</p>
      <a href="#" class="btn btn-primary">Start today</a>
    </div>
    <div class="card-footer text-muted">2 days ago</div>
  </div>